@*@model IEnumerable<TaskMaster.Application.Objects.WarningDto>*@
@model Tuple<IEnumerable<TaskMaster.Application.Objects.ErrorDto>, IEnumerable<TaskMaster.Application.Objects.WarningDto>>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <p><h4>Title</h4></p>
            </th>
            <th>
                <p><h4>Description</h4></p>
            </th>
            <th>
                <p><h4>Answer</h4></p>
            </th>
            <th>
                <p><h4>Controls</h4></p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (TaskMaster.Application.Objects.WarningDto item in Model.Item2)
        {
            <tr class="">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                    @if(item.Description == null)
                    {
                        item.Description = "";
                    }
                    @if (item.Description.LongCount() <= 20)
                    {
                        @Html.DisplayFor(modelItem => item.Description)
                    }
                    else
                    {
                        @(item.Description.ToString().Substring(0,17)+"...")     
                    }
                
            </td>
            <td>
                @if(item.Answer == null)
                {
                    <img src=@Url.Content("~/Images/DatabaseViewsImages/nok.png") />
                    
                }     
                else
                {
                    <img src=@Url.Content("~/Images/DatabaseViewsImages/ok.png") />
                }
                                  
            </td>
            <td>
                
                    @Html.ActionLink("Details","WarningDetails","CRUD", new { id=item.Id }, new { @class="btn btn-outline-dark"})
                
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        @Html.ActionLink("Edit","EditWarning","CRUD", new { id=item.Id }, new { @class="btn btn-outline-dark", @style="margin-right:4px;"})
                    }
                    @if (User.IsInRole("Admin"))
                    {
                       @Html.ActionLink("Delete","DeleteWarning","CRUD", new { id=item.Id }, new { @class="btn btn-outline-dark"})
                    }

            </td>
        </tr>
}
    </tbody>
</table>
