@*@model IEnumerable<TaskMaster.Application.Objects.WarningDto>*@
@model Tuple<IEnumerable<TaskMaster.Application.Objects.ErrorDto>, IEnumerable<TaskMaster.Application.Objects.WarningDto>>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Title</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>Answer</p>
            </th>
            <th>
                <p>Controls</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (TaskMaster.Application.Objects.WarningDto item in Model.Item2)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if(item.Answer == null)
                {
                    <img src=@Url.Content("~/Images/DatabaseViewsImages/nok.png") />
                    
                }     
                else
                {
                    <img src=@Url.Content("~/Images/DatabaseViewsImages/ok.png") />
                }
                                  
            </td>
            <td>
                
                    @Html.ActionLink("Details |","WarningDetails","CRUD", new { id=item.Id })
                
                @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Edit |","EditWarning","CRUD", new { id=item.Id })
                    @Html.ActionLink("Delete |","DeleteWarning","CRUD", new { id=item.Id })
                }

            </td>
        </tr>
}
    </tbody>
</table>
